@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
}

:root {
  --lavender-purple: #ad1fea;
  --sapphire-blue: #4661e6;
  --royal-blue: #4661e6;
  --snow-white: #ffffff;
  --pale-lavender: #f2f4ff;
  --powder-blue: #f7f8fd;
  --midnight-indigo: #3a4374;
  --steel-blue: #647196;
  --coral-peach: #f49f85;
  --sky-blue: #62bcfa;
  --button-red: #d73737;
  --button-blue: #373f68;
  --btn-hover: #cfd7ff;
  --btn-text-color: #4661e6;
}
html,
body {
  padding: 0;
  margin: 0;
  /* font-family: "Instrument Sans", sans-serif; */
  font-family: "Josefin Sans", sans-serif;
  font-family: "Jost", sans-serif;
  background-color: var(--powder-blue);
  background-color: #f2f2f2;
}
a {
  text-decoration: none;
  color: inherit;
}
header {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  align-items: center;
}
header > .go-back {
  font-family: Jost;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  color: var(--steel-blue);
}
header > .go-back > a:hover {
  text-decoration: underline;
}

header > .edit-btn > a {
  display: inline-block;
  width: 142px;
  height: 44px;
  background-color: var(--sapphire-blue);
  font-family: Jost;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
  color: #f2f4fe;
  border-radius: 8px;
  padding-top: 12px;
}
header > .edit-btn > a:hover {
  background-color: #7c91f9;
}

.add-feedback-box {
  margin-top: 25px;
  width: 100%;
  display: flex;
  gap: 25px;
  height: 151px;
  padding: 35px 20px;
  background-color: var(--snow-white);
  border-radius: 8px;
}

.count-feed > button {
  border: none;
  outline: none;
  background-color: var(--pale-lavender);
  border-radius: 5px;
  width: 40px;
  height: 53px;
  font-family: Jost;
  font-size: 13px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: -0.1805555522441864px;
  text-align: center;
  color: var(--midnight-indigo);

  &:hover {
    background-color: #cfd7ff;
  }
}
.text-feed {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.text-feed-box {
  width: 100%;
  display: flex;
  justify-content: space-between !important;
}

.text-feed > h2 {
  font-family: Jost;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: -0.25px;
  text-align: left;
  color: var(--midnight-indigo);
}

.text-feed > p {
  font-family: Jost;
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0px;
  text-align: left;
  color: var(--steel-blue);
}

.text-feed > button {
  width: 111px;
  height: 30px;
  background-color: var(--pale-lavender);
  border: none;
  outline: none;
  border-radius: 8px;
  font-family: Jost;
  font-size: 13px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
  color: var(--royal-blue);
  text-align: center;
}
.feed-com {
  align-self: center;
}
.feed-com > span {
  font-family: Jost;
  font-size: 16px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: -0.2222222238779068px;
  text-align: center;
  color: var(--midnight-indigo);
}



.comments > h4 {
  font-family: Jost;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: -0.25px;
  text-align: left;
  color: var(--midnight-indigo);
}
.comment-box {
  margin-top: 20px;
}

.profile-img {
  max-width: 40px;
  max-height: 40px;
}
.profile-img > img {
  width: 100%;
  border-radius: 100%;
}
.comment-box {
  display: flex;
  gap: 15px;
}
.user-name > h1 {
  font-family: Jost;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.1944444477558136px;
  text-align: left;
  color: var(--midnight-indigo);
}
.user-name > p {
  font-family: Jost;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  color: var(--midnight-indigo);
}
.user-reply {
  display: flex;
  justify-content: space-between;
}
.user-comment {
  display: flex;
  flex-direction: column;
}
.reply {
  font-family: Jost;
  font-size: 13px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
  color: var(--btn-text-color);
  cursor: pointer;
}
.reply:hover {
  text-decoration: underline;
}
.comments {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding: 20px;
  width: 100%;
  min-height: 100vh;
  background-color: var(--snow-white);
}
.comment-text > p {
  margin-top: 30px;
  font-family: Jost;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
  color: var(--steel-blue);
}

form {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.inp-text {
  width: 88%;
}
.inp-text > input {
  width: 100%;
  border-radius: 8px;
  border: none;
  outline: 1px solid var(--sapphire-blue);
  padding: 20px 10px;
  background-color: #f7f8fd;
  font-family: Jost;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
}
.inp-text > input:focus {
  outline: 1px solid var(--lavender-purple);
  color: var(--midnight-indigo);

}
.post-reply > button {
  width: 117px;
  height: 44px;
  background-color: var(--lavender-purple);
  border: none;
  border-radius: 8px;
  color: var(--snow-white);
  font-family: Jost;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0px;
}

.post-reply > button:hover {
  background: #c75af6;
}

.add-comment-section{
  margin-top: 15px;
  width: 100%;
  height: 246px;
  background-color: var(--snow-white);
  border-radius: 8px;
  padding: 20px;
}
.post-comment{
  display: flex;
  flex-direction: column;
}

.add-new-comment-inp>input{
  width: 100%;
}

.add-comment-post{
  align-self: end;
  width: 142px;
  height: 44px;
}
.add-comment-post>button{
  border: none;
  background-color: var(--lavender-purple);
  border-radius: 8px;
  width: 142px;
  height: 44px;
  font-family: Jost;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0px;
  color: var(--pale-lavender);  
}

.add-comment-post>button:hover{
  background: #C75AF6;

}
.add-comment-section>h5{
  
}

.add-new-comment-inp > input {
  width: 100%;
  border-radius: 8px;
  border: none;
  outline: 1px solid var(--sapphire-blue);
  padding: 20px 10px;
  background-color: #f7f8fd;
  font-family: Jost;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
}
.add-new-comment-inp > input:focus {
  outline: 1px solid var(--lavender-purple);
  color: var(--midnight-indigo);

}














@media (max-width: 768px) {
  .form-reply-comment,.general-comment {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .inp-text {
    width: 100%;
  }
  .post-reply {
    align-self: flex-end;
    margin-top: 10px;
  }
}
