@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: "Instrument Sans", sans-serif; */
  font-family: "Josefin Sans", sans-serif;
  font-family: "Jost", sans-serif;
}

:root {
  --lavender-purple: #ad1fea;
  --sapphire-blue: #4661e6;
  --royal-blue: #4661e6;
  --snow-white: #ffffff;
  --pale-lavender: #f2f4ff;
  --powder-blue: #f7f8fd;
  --midnight-indigo: #3a4374;
  --steel-blue: #647196;
  --coral-peach: #f49f85;
  --sky-blue: #62bcfa;
  --button-red: #d73737;
  --button-blue: #373f68;
  --btn-hover:#CFD7FF;
  --btn-text-color: #4661E6;


}

.container-full {
  width: 100%;
  background-color: var(--snow-white);
}

.container {
  width: 90%;
  margin: 0 auto;
  margin-top: 70px;
}

main {
  display: grid;
  grid-template-areas: "frontend nav nav nav";
}
.front-end-mentor {
  grid-area: frontend;
  display: grid;
  margin: 0 auto;
  gap: 25px;
}
nav {
  grid-area: nav;
}

.gradient-feed {
  width: 255px;
  height: 137px;
  background: radial-gradient(
    128.88% 128.88% at 103.9% -10.39%,
    #e84d70 0%,
    #a337f6 53.09%,
    #28a7ed 100%
  );
  border-radius: 8px;
}

.all-box> .btn-group{
    width: 255px;
    height: 137px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px; 
}


.btn-check:hover+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active{
    background-color: var(--pale-lavender);
    font-family: Jost;
    border-radius: 10px;
    background-color: var(--btn-hover) !important;
}
.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active{
    color: var(--snow-white) !important;
    background-color: var(--royal-blue) !important;
}

.btn{
    color: var(--btn-text-color);
    font-size: 18px;
    font-weight: 600;
    line-height: 19px;
}